.user-item-container{
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    
}

.user-item-container label{
    font-size: 16px;
    color: #ffff;
    border-radius: 5px 5px 0 5px;
    background: #2D7B80;
    width: fit-content;
    font-weight: normal;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px 5px 0;
}

.user-item-container img{
    height: 50px;

}