.cat-item-container{
    display: flex;
    max-width: 90%;

}

.cat-item-container img{
    height: 50px;
}

.cat-item-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.cat-item-container label {
    margin: 0 0 5px 10px;
    font-size: 16px;
    color: #fff;
    background: #995DA2;
    padding: 10px;
    border-radius: 0 5px 5px 5px;
    width: fit-content;
    box-sizing: border-box;
}
