.cat-item-container{
    display: flex;
    max-width: 90%;

}

.cat-item-container img{
    height: 50px;
}

.cat-item-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.cat-item-container label {
    margin: 0 0 5px 10px;
    font-size: 14px;
    color: #fff;
    background: #432b51;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    font-weight: bold;
    font-weight: normal;
    box-sizing: border-box;
}
